body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #1f1f1f;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

p {
    text-align: left;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

#addLocation {
    text-align: center;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}

#addLocationForm {
    text-align: left;
    width: 400px;
    margin: auto;
    padding: 10px;
}

#addLocationForm span {
    display: block;
}

#content {
    margin: auto;
    width: 960px;
}

.location {
    width: 180px;
    height: 110px;
    margin: 10px;
    padding: 16px;
    color: #fff;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}

.location span {
    display: block;
}

.locationId {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

.removeLocation {
    margin-top: 12px;
    text-align: center;
}

.location.Appliance {
    background-color: #5eb85e;
}

.location.Appliance a:hover {
    color: #a1ed82;
}

.location.Random {   
    background-color: #0f90d1;
}

.location.Random a:hover {
    color: #4badd1;
}

.location.Lifo {
    background-color: #c2a00c;
}

.location.Lifo a:hover {
    color: #fad232;
}

.location.Fifo {
    background-color: #db524d;
}

.location.Fifo a:hover {
    color: #ff907d;
}

.location a {
    text-decoration: none;
}

.location a:visited, a:active, a:hover {
    color: #fff;
}

.location a:hover {
    text-decoration: underline;
}