<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true"
	name="XMLConfigTest" packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="logpath">../logs</Property>
	</Properties>

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%d{HH:mm:ss,SSS} [%highlight{%-5level}] %C{1.}.%M() - %msg%n%throwable{short.lineNumber}" />
		</Appender>
		<Appender type="File" name="FileWar" fileName="${logpath}/SimpleWarehouse-War.log" immediateFlush="true" append="true">
			<Layout type="PatternLayout" pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%highlight{%-5level}] %C{1.}.%M() - %msg%n%throwable{short.lineNumber}" />
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="com.home.simplewarehouse" level="debug" additivity="true">
			<AppenderRef ref="FileWar" />
		</Logger>

		<Root level="DEBUG">
		    <AppenderRef ref="STDOUT" />
			<AppenderRef ref="FileWar" />
		</Root>
	</Loggers>

</Configuration>